[user]
	name = Amund Hov
	email = amund.hov@gmail.com

[rerere]
   enabled = true
   autoupdate = true

[alias]
    s = status -s
    b = branch -av
    ca = commit --amend 
    co = checkout
    lc = log ORIG_HEAD.. --stat --no-merges
    l = log -p
    changes = diff --name-status -r
    deleted = ls-files -d
