/*
!.*

.Xauthority
.bash_history
.cache/
.config/
.dbus/
.fontconfig/
.htoprc
.lesshst
.links/
.local/
.ssh/
.viminfo
.keychain/
.ssh/
.esd_auth
.mozilla/
.macromedia/
.adobe/
.apvlvinfo
.fehbg
.fehrc
.gconfd/
.gstreamer-0.10/
.mplayer/
.recently-used.xbel
.thumbnails/
